<section id="quick-shop-modal">
  
  <div id="quick-shop-container">
     
    <h2 id="quick-shop-title"></h2>
    <div id="quick-shop-variants-container"></div>
    
    <div id="quick-shop-price-container">
      
    </div><!-- #quick-shop-price-container -->
    <button id="quick-shop-add" class="action-btn accent-text">Add</button>
    <button id="quick-shop-close" class="action-btn accent-text">Close</button>
    
  </div>
  
  <div id="quick-shop-confirmation">
    
    <p id="added-to-cart-messsage">Added to cart</p>
    <p id="added-to-cart-icon">c</p>
    
  </div>
  
</section>