<li>
    <div class="default product-image-wrap {% if template contains 'collection' and settings.products-pagination-method == 'click-to-load' and (paginate.previous or paginate.next) %}is-loading{% endif %}">
    
        <!-- Product image -->
        <a href="/admin/products/new">
            Add a new product
        </a>
    
    </div>
</li>