{% if settings.twitter-username.size > 0 %}
<section id="twitter" class="section">
    <div class="section-title single-borders"><h1 class="accent-text"><a href="http://www.twitter.com/{{ settings.twitter-username }}">@{{ settings.twitter-username }}</a></h1></div>
    <ul class="twitter-feed clearfix"></ul>
</section>
{% endif %}