<div id="content" class="customer reset-password">
    
  <!-- Page title -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <div class="page-title has-description">
    <h1>Reset Account Password</h1>
    <h2>Enter a new password for {{ email }}</h2>
  </div>

  <!-- Reset password form -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% form 'reset_customer_password' %}

    {{ form.errors | default_errors }}

    <div id="customer-email">
      <label class="accent-text">Password</label>
      <input type="password" value="" name="customer[password]" class="styled-text-field">
    </div>

    <div id="customer-password">
      <label for="customer-password" class="accent-text">Repeat password</label>
      <input type="password" value="" name="customer[password_confirmation]" class="styled-text-field">
    </div>

    <div id="customer-login-tools">
      <input class="action-btn accent-text" type="submit" value="Reset">
    </div>

  {% endform %}

  <!-- Breadcrumbs -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% include 'breadcrumbs' %}
    
</div>