<div id="content" class="the-404">

  <!-- Page title -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <div class="page-title has-description">
    <h1>{{ settings.404-title }}</h1>
    <h2>{{ settings.404-tagline }}</h2>
  </div>

  <a href="{{ settings.404-redirect-url }}" class="nav-btn accent-text">Continue shopping →</a>

</div>
