<div id="content" class="page">

  <!-- Product title -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <div class="page-title"><h1 class="heading-text">{{ page.title }}</h1></div>

  <!-- Standard page content -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <section id="page-content" class="rte">
    {{ page.content }}
  </section>

  <!-- Breadcrumbs -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% include 'breadcrumbs' %}

</div>